<div id="section-{{loop_index}}" style="position: absolute;
					top: 100px;
					left: 100px;
					height: 500px;
					width: 600px;
					z-index: 2;
					display: block;
					border: 5px solid black;
					background-color: white;
					display: none;">





  <button id="close-{{loop_index}}" class="btn btn-link pull-right" style="color: black;font-size: 29px;position: absolute;right:
  10px;">x</button>
  <table class="table">
    <caption>tour dates.</caption>
    <tbody>
      <tr>
	<th scope="row">11/19</th>
	<td>The Dip</td>
	<td>Redding, CA</td>
	<td>$7</td>
      </tr>
      <tr>
	<th scope="row">12/1</th>
	<td>Jacob</td>
	<td>Thornton</td>
	<td>@fat</td>
      </tr>
      <tr>
	<th scope="row">12/3</th>
	<td>Larry</td>
	<td>the Bird</td>
	<td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
